@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

/* RESET */
* {
    transition: 0.25s ease-in-out;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Fjalla One', sans-serif;
    background: #f8f4e5 !important; /* Light mode */
    color: #2A293E;
}

/* FIX WRAPPER */
.page-content {
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f8f4e5 !important;
}

/* DARK MODE BG */
html.dark-mode,
body.dark-mode {
    background: #0f1117 !important;
    color: #e6e6e6 !important;
}

    html.dark-mode .page-content,
    body.dark-mode .page-content {
        background: #0f1117 !important;
    }

/* TOGGLE */
.dark-toggle {
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 8px 18px;
    border-radius: 8px;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: 3px 3px 0 #b88cff;
    font-size: 14pt;
    z-index: 3000;
}

body.dark-mode .dark-toggle {
    background: #2d2f36;
    color: #e8e8e8;
    border-color: #555;
    box-shadow: 3px 3px 0 #4f5bff;
}

/* CONTAINER */
.container {
    background: #ffffff;
    padding: 40px 60px;
    border: 2px solid #000;
    box-shadow: 12px 12px 0 #ffa580, 12px 12px 0 2px #000;
    max-width: 480px;
    width: 100%;
    text-align: center;
}

body.dark-mode .container {
    background: #2a2d36;
    border-color: #444;
    color: #e6e6e6;
    box-shadow: 12px 12px 0 #4f5bff, 12px 12px 0 2px #000;
}

/* INPUT */
input {
    width: 100%;
    font-size: 14pt;
    margin-bottom: 25pt;
    border: none;
    border-bottom: 5px solid #000;
    background: #fff;
    color: #000;
}

body.dark-mode input {
    background: #2a2d36;
    color: #fff;
    border-color: #4f5bff;
}

/* BUTTON */
button {
    background: linear-gradient(90deg, #ffa580, #95a4ff);
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #95a4ff;
    padding: 8px 16px;
    font-size: 14pt;
    cursor: pointer;
}

/* FLAG */
#resFlag {
    width: 140px !important;
    display: block !important;
    margin: 10px auto 20px auto !important;
    border-radius: 10px;
    border: 3px solid #000;
    box-shadow: 4px 4px 0 #7580ff, 4px 4px 0 1px #000;
}

/* WIKIPEDIA ICON */
.wiki-icon {
    width: 50px;
    margin-top: 15px;
    cursor: pointer;
    transition: .2s;
}

    .wiki-icon:hover {
        transform: scale(1.1);
    }
