@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/gamemode.css" asp-append-version="true" />
}

<button id="darkModeToggle" class="dark-toggle">🌙 Dark Mode</button>

<div class="gamemode-container">
    <h1>🎮 Choose Gamemode</h1>

    <div class="mode-grid">
        <div class="mode-card" id="flagMode"><h2>🌍 Guess the Flag</h2></div>
        <div class="mode-card" id="capitalMode"><h2>🏙️ Guess the Capital</h2></div>
        <div class="mode-card" id="geoheatMode"><h2>🧩 Mystery Country</h2></div>
        <div class="mode-card" id="flagquizMode"><h2>🏁 Flag Quiz</h2></div>
        <div class="mode-card" id="bgGeoMode"><h2> BG GeoHeat</h2></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/gamemode.js" asp-append-version="true"></script>
}
