@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}

<div class="dark-toggle" id="darkModeToggle">🌙 Dark Mode</div>

<div class="spacer" style="height:40px;"></div>

<div class="container">
    <h1>Countries</h1>

    <input id="countryName" type="text" placeholder="Enter Country..." />
    <button onclick="fetchCountry()">Search</button>
    <div id="message"></div>

    <div id="result" style="display:none; margin-top:20px;">
        <h3 id="resName"></h3>

        <img id="resFlag" />

        <div class="info-box">
            <div class="info-row">
                <span class="info-label">Capital:</span>
                <span class="info-value" id="resCapital"></span>
            </div>

            <div class="info-row">
                <span class="info-label">Region:</span>
                <span class="info-value" id="resRegion"></span>
            </div>

            <div class="info-row">
                <span class="info-label">Population:</span>
                <span class="info-value" id="resPopulation"></span>
            </div>

            <div class="info-row">
                <span class="info-label">Currency:</span>
                <span class="info-value" id="resCurrency"></span>
            </div>
        </div>

        <!-- WIKIPEDIA BUTTON -->
        <div style="margin-top:20px;">
            <a id="wikiLink" href="#" target="_blank" style="display:none;">
                <img src="~/images/wikipedia.png" class="wiki-icon" />
            </a>
        </div>
    </div>
</div>
